*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
app/src/main/java/com/example/chatgptglass/Secrets.java
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
